# ------------------------------
# BUILD SYSTEM
# ------------------------------
bin
build
.cache

compile_commands.json
include/Config.h

# ------------------------------
# OS Files
# ------------------------------
.DS_Store
Thumbs.db

